<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Braver-1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Braver-2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{32,0},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Braver-3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{64,0},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Braver-4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{96,0},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Braver-5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{0,33},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Braver-6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{32,33},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Braver-7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{64,33},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Braver-8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{96,33},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Braver-9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{0,66},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Braver-10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{32,66},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Braver-11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{64,66},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Braver-12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{96,66},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Braver-13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{0,99},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Braver-14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{32,99},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Braver-15</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{64,99},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Braver-16</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{96,99},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{128,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:968efc6f6bd9b824cb32178910fd8353:2a868cfa4474b9bac1a35da6ea3bcb81:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>Braver.png</string>
        </dict>
    </dict>
</plist>
